################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/YoubotDriver/v17/Browse.VC.opendb
/.vs/CMake Overview
/.vs/YoubotDriver/FileContentIndex/c0cabda5-74d3-40ac-a8e2-da447b052fb1.vsidx
